Esse notebook almeja desenvolver um sistema de recomendação simples para disciplinas optativas.

In [1]:
import pandas as pd

dados_formados_path = 'input/dados_formados.csv'
dados_formados = pd.read_csv(dados_formados_path, delimiter=';')
dados_formados.columns

Index(['ID_ANONIMO', 'CR', 'PERIODO', 'INGRESSO', 'CODIGO', 'ANO', 'PERIODO.1',
       'NOTA', 'CH', 'SITUACAOALUNO'],
      dtype='object')

In [2]:
dados_regulares_path = 'input/dados_regulares.csv'
dados_regulares = pd.read_csv(dados_regulares_path, delimiter=';')
dados_regulares.columns

Index(['ID_ANONIMO', 'CR', 'PERIODO', 'INGRESSO', 'CODIGO', 'ANO', 'PERIODO.1',
       'NOTA', 'CH', 'SITUACAOALUNO'],
      dtype='object')

In [12]:
def select_random_student(data : pd.DataFrame):
    return data.sample().ID_ANONIMO.values[0]

In [13]:
select_random_student(dados_formados)

114720

In [14]:
select_random_student(dados_regulares)

104768

In [16]:
def get_all_data_from_student(student_id : int, data : pd.DataFrame):
    return data[[x == student_id for x in data.ID_ANONIMO]]
    pass

In [17]:
get_all_data_from_student(select_random_student(dados_formados), dados_formados)

,ID_ANONIMO,CR,PERIODO,INGRESSO,CODIGO,ANO,PERIODO.1,NOTA,CH,SITUACAOALUNO
3993,93846,"0,77649",10,19/07/07,EL66C,2009,2,"7,3",60,Formado
3994,93846,"0,77649",10,19/07/07,IF6AE,2012,1,10,60,Formado
3995,93846,"0,77649",10,19/07/07,IF6AG,2011,2,"9,2",60,Formado
3996,93846,"0,77649",10,19/07/07,IF6AL,2012,1,9,60,Formado
3997,93846,"0,77649",10,19/07/07,IF6AB,2012,1,"8,9",60,Formado
...,...,...,...,...,...,...,...,...,...,...
4063,93846,"0,77649",10,19/07/07,EL68A,2010,2,9,60,Formado
4064,93846,"0,77649",10,19/07/07,GE60C,2011,1,"6,8",30,Formado
4065,93846,"0,77649",10,19/07/07,IF62C,2008,1,"8,9",60,Formado
4066,93846,"0,77649",10,19/07/07,GE60A,2011,2,"7,2",30,Formado
4067,93846,"0,77649",10,19/07/07,QB60A,2011,1,8,30,Formado

Queremos recomendar disciplinas para estudantes com base em sua performance nas disciplinas prévias. Para tal, precisamos converter os dados do DataFrame para um vetor de _features_. Escolhemos para esse teste simples utilizar a nota do estudante como valor a ser analisado. Ajustamos a nota do estudante subtraindo dois pontos da nota final sempre que ele reprovar em uma mesma disciplina.

| Curso | Nota | Ultima data ((Ano - 2000)*2 + periodo)|
| -- | -- | -- |
| FI73A | 6 |  20 (2009 - 2o periodo) |
| EL68A | -1 ( nao fez ) |  -1 ( nao fez ) |
| GE60C | 4 (passou com 6, reprovou uma vez) |  20 (2009 - 2o periodo) |

In [ ]:
def get_user_array(student_id : int, data : pd.DataFrame):
    student_data = get_all_data_from_student(student_id, data)
    student_array : Array = []
    for course in student_data:
        
    
    pass